.login_form_wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    row-gap: 5px;
}

.login_form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 15px;
}

.login_form input {
    width: 300px;
    height: 40px;
    border-radius: 8px;
    border: 1px solid #bebaba;
    padding-left: 10px;
    font-size: 14px;
}

.error {
    width: 100%;
    height: 10px;
    display: flex;
    align-items: center;
}

.error_message {
    font-size: 10px;
    color: red;
    text-align: left;
}

.login_btn {
    width: 100px;
    height: 30px;
    border-radius: 8px;
    border: 1px solid #bebaba;
    font-size: 14px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
}

.login_btn:hover {
    background-color: #0880AE;
    cursor: pointer;
    color: #FFFFFF;
}