.update_form_wrapper {
    width: 100%;
    height: 500px;
    margin-left: 100px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;


    border: 1px solid black;
}

.update_form_input {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    width: 500px;
}

.update_form_input input, select {
    height: 40px;
    border-radius: 8px;
    border: 1px solid #bebaba;
    padding-left: 10px;
    font-size: 14px;
}

.update_form_btn {
    width: 100px;
    height: 30px;
    border-radius: 8px;
    font-size: 14px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0880AE;
    color: #FFFFFF;
}

.update_form_btn:hover {
    background-color: #2997c2;
    cursor: pointer;
}