.home_middle_wrapper {
    width: 100%;
    height: 400px;
    display: flex;
    column-gap: 20px;
    background-color: #F5F5F5;
}

.home_middle_img {
    width: 70%;
    height: 100%;
    overflow: hidden;
}

.home_middle_img img {
    max-width: 1000px;
    max-height: none;
}

.home_middle_info_wrapper {
    width: 26.5%;
    height: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    padding-right: 20px;
}

.home_middle_info_top {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    height: 80%;
    margin-top: 25px;
    overflow: hidden;
}

.home_middle_info_category {
    font-size: 14px;
    font-weight: 700;
    color: #0880AE;
    cursor: pointer;
}

.home_middle_info_title {
    font-size: 22px;
    font-weight: 500;
}

.home_middle_info_title:hover {
    cursor: pointer;
    color: #0880AE;
}

.home_middle_info_description {
    font-size: 14px;
    font-weight: 400;
    color: #434343;
    line-height: 26px;
}

.home_middle_info_bottom {
    display: flex;
    column-gap: 30px;
}

.home_middle_info_bottom_data_author_wrapper {
    display: flex;
    column-gap: 10px;
}

.home_middle_info_bottom_date, .home_middle_info_bottom_time {
    font-size: 12px;
    font-weight: 400;
    color: #727272;

    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 5px;
}

.home_middle_info_bottom_time img {
    width: 12px;
    height: 12px;
}

.home_middle_info_bottom_author {
    font-size: 12px;
    font-weight: 400;
    color: #0880AE;
    cursor: pointer;
}